<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav id="navtag">
        <a href="/" id="tag">Home</a>
        <a href="/auth/signup" id="tag">Sign Up</a>
        <a href="/auth/login" id="tag">Login</a>
    </nav>
    <main>
        <h1>Welcome to Car Details Platform</h1>
        <p style="margin-bottom: 20px;">Search and view car details with ease.</p>
        <img src="/images/ferrari.webp" alt="image" height="300px">
    </main>
</body>
</html>
